<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
You are in the index page. PIWI FRAMEWORK<br><br>
{{ dump(globals) }}
<br><br>
{{ dump(localVar) }}
</body>
</html>